html{
    overflow-x: auto;
}
body {
    min-width: 1280px;
}
#wrap{
    position: relative;
}
.inner{
    width: 130rem;
    margin: auto;
}
.container{
    max-width: 130rem;
    margin: auto;
    padding: 10rem 0;
}
.main_container{
    padding: 3rem 0 !important;
}
//=== input style ===
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: "Always Show Up/Down Arrows";
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

//input default
.wrap-input-default {
    position: relative;
    margin: auto;
    & + .wrap-input-default{
        padding-top: 1.5rem;
    }
    .label {
        margin: 1.4rem 0 1.5rem 0.5rem;
        font-size: 1.4rem;
        font-weight: 900;
        text-align: left;
        color: #707070;
        .necessary{
            display: inline-block;
            width: 0.5rem;
            height: 0.5rem;
            margin-left: 0.3rem;
            background-color: #ff2658;
            border-radius: 50%;
            vertical-align: top;
        }
        em{
            font-weight: 500;
        }
    }
    &:first-of-type{
        .label{
            margin-top: 0;
        }
    }

    .box-input {
        .input {
            width: 100%;
            height: 6rem;
            line-height: 6rem;
            border-radius: 10px;
            border: solid 1px #dbdbdb;
            background-color: #fff;
            input {
                width: 100%;
                height: 100%;
                padding: 0 2rem;
                font-size: 1.6rem;
                color: #000;
                box-sizing: border-box;

                &::placeholder {
                    color: #bcbcbc;
                }
            }
            select{
                width: 100%;
                padding: 0 2rem;
                background: url(/images/icon_unfold.png) no-repeat 90% 50%;
                background-size: 1.2rem;
                cursor: pointer;
                font-size: 1.6rem;
                color: #bcbcbc;
                option{
                    color: #000;
                }
            }
        }
    }

    //input row
    &.input-row{
        .box-input{
            display: flex;
            .input{
                & + .input{
                    margin-left: 2rem;
                }
            }
            .at{
                display: inline-block;
                padding: 0 1rem;
                line-height: 6rem;
                font-size: 1.6rem;
                color: #000;
            }
        }
    }

    //input half
    &.input-half{
        display: flex;
        justify-content: space-around;
        .box-input{
            width: 50%;
            & + .box-input{
                margin-left: 3%;
            }
            .input{
                & + .input{
                    margin-left: 2rem;
                }
                select{
                    width: 100%;
                    padding: 0 2rem;
                    background: url(/images/icon_unfold.png) no-repeat 90% 50%;
                    background-size: 1.2rem;
                    cursor: pointer;
                    font-size: 1.6rem;
                    color: #bcbcbc;
                    option{
                        color: #000;
                    }
                }
            }
        }
    }

    //textarea
    &.textarea{
        .input{
            height: unset;
            line-height: unset;
            textarea{
                width: 100%;
                height: 100%;
                padding: 2rem;
                font-size: 1.6rem;
                color: #000;
                box-sizing: border-box;

                &::placeholder {
                    color: #bcbcbc;
                }
            }
        }
    }

    //file
    &.file{
        .v-input__slot{
            height: 6rem;
            padding: 0 2rem !important;
            background: url(/images/icon_upload.png) no-repeat 96% 50%;
            background-size: 3rem;
            cursor: pointer;
        }
        .v-input__prepend-outer{
            display: none !important;
        }
        .v-text-field--outlined fieldset{
            border-radius: 10px;
            border: solid 1px #dbdbdb;
            color: #000;
        }
        .theme--light.v-file-input .v-file-input__text--placeholder{
            color: #bcbcbc;
        }
        .v-input__append-inner{
            margin-top: 1.7rem !important;
        }
    }
}

//input validation
.input-msg{
    display: none;
}
.wrap-input-default {
    .box-input {
        &.error {
            .input {
                border: solid 1px #fa2558;
                input{
                    padding: 0 5rem 0 2rem;
                    background: url(/images/icon_valid_error.png) no-repeat 95% 50%;
                    background-size: 1rem;
                    &.year{
                        background: none;
                        padding-right: 2rem;
                    }
                }
                & + .input-msg {
                    display: block;
                    padding: 0.5rem 2rem;
                    font-size: 1.2rem;
                    line-height: 1.5;
                    color: #fa2558;
                }
            }

            .checkbox-btn-row{
                .checkbox-btn {
                    input {
                        & + label{
                            border: solid 1px #fa2558;
                            background-color: #fff;
                            font-size: 1.6rem;
                            font-weight: 600;
                            color: #fa2558;
                        }
                    }
                }
            }
        }

        &.right {
            .input {
                border: solid 1px #616dfa;
                input{
                    padding: 0 5rem 0 2rem;
                    background: url(/images/icon_valid_right.png) no-repeat 95% 50%;
                    background-size: 1.6rem;
                    &.year{
                        background: none;
                        padding-right: 2rem;
                    }
                }
                & + .input-msg {
                    display: block;
                    padding: 0.5rem 2rem;
                    font-size: 1.2rem;
                    line-height: 1.5;
                    color: #616dfa;
                }
            }
        }
    }
    &.input-row{
        .box-input {
            &.error {
                .input {
                    input{
                        padding: 0 4.5rem 0 2rem;
                        background: url(/images/icon_valid_error.png) no-repeat 90% 50%;
                        background-size: 1rem;
                    }
                }
            }

            &.right {
                .input {
                    input{
                        padding: 0 4.5rem 0 2rem;
                        background: url(/images/icon_valid_right.png) no-repeat 90% 50%;
                        background-size: 1.6rem;
                    }
                }
            }
        }

    }
}

//=== checkbox style ===//
//checkbox default
.checkbox-default{
    text-align: left;
}
.checkbox-default + .checkbox-default{
    margin-top: 1rem;
}
.checkbox-default .checkbox input[type="checkbox"] {
    /* 실제체크박스 화면에서 숨김 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.checkbox-default .checkbox input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-size: 14px;
    color: #000000;
}
.checkbox-default .checkbox input[type="checkbox"] + label span{
    display: inline-block;
    padding-left: 1rem;
}

.checkbox-default .checkbox input[type="checkbox"] + label:before {
    /* 가짜 체크박스 */
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    vertical-align: middle;
    background: url(/images/checkbox_unselected.png) no-repeat 50% 50%;
    background-size: 100%;
}

.checkbox-default .checkbox input[type="checkbox"]:checked + label::before {
    /* 체크박스를 체크했을때 */
    background: url(/images/checkbox_selected.png) no-repeat 50% 50%;
    background-size: cover;
}

//checkbox agree
.checkbox-default.agree .checkbox{
    position: relative;
    display: block;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(97, 109, 250, 0.05);
}
.checkbox-default.agree .checkbox input[type="checkbox"] + label span span{
    color: #616dfa;
    padding-left: 0;
    vertical-align: top;
}
.checkbox-default.agree .checkbox em{
    display: inline-block;
}
.checkbox-default.agree .checkbox .btn-view{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #616dfa;
}

//checkbox button row
.checkbox-btn-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .checkbox-btn {
        input {
            display: none;
            + {
                label {
                    width: 30%;
                    height: 6rem;
                    margin-bottom: 3%;
                    line-height: 6rem;
                    background-color: transparent;
                    font-size: 1.6rem;
                    color: #868d96;
                    text-align: center;
                    border: solid 1px #dcdcdc;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }
            &:checked {
                + {
                    label {
                        border: solid 1px #616dfa;
                        background-color: rgba(97, 109, 250, 0.05);
                        font-size: 1.6rem;
                        font-weight: 600;
                        color: #616dfa;
                    }
                }
            }
        }
    }
}

//=== radio style ===//
//radio button row
.radio-btn-row {
    display: flex;
    .radio-btn {
        margin-bottom: 1.5rem;
        input {
            display: none;
            + {
                label {
                    width: 50%;
                    height: 6rem;
                    line-height: 6rem;
                    background-color: transparent;
                    font-size: 1.6rem;
                    color: #868d96;
                    text-align: center;
                    cursor: pointer;
                }
            }
            &:checked {
                + {
                    label {
                        border: solid 1px #616dfa;
                        background-color: rgba(97, 109, 250, 0.05);
                        font-size: 1.6rem;
                        font-weight: 600;
                        color: #616dfa;
                    }
                }
            }
        }
        &:first-child label{
            border-radius: 10px 0 0 10px;
            border: solid 1px #dcdcdc;
            border-right: 0;
        }
        &:last-child label{
            border-radius: 0 10px 10px 0;
            border: solid 1px #dcdcdc;
        }
    }
}

//=== button style ===//
.wrap-form-btn{
    button{
        width: 100%;
        height: 6rem;
        border-radius: 10px;
        background-color: #616dfa;
        font-size: 1.6rem;
        font-weight: 600;
        color: #ffffff;
    }
    &.error{
        .input-msg{
            display: block;
            padding-top: .5rem;
            font-size: 1.2rem;
            line-height: 1.5;
            color: #fa2558;
            text-align: center;
        }
    }
    &.right{
        .input-msg{
            display: block;
            padding-top: .5rem;
            font-size: 1.2rem;
            line-height: 1.5;
            color: #616dfa;
            text-align: center;
        }
    }
    &.btn-row{
        display: flex;
        justify-content: space-between;
        button{
            height: 6rem;
            border-radius: 10px;
            font-size: 1.6rem;
            font-weight: 600;
            color: #ffffff;
            &:first-child{
                width: 30%;
                background-color: #bcbcbc;
            }
            &:last-child{
                width: 68%;
                background-color: #616dfa;
            }
        }
    }
}

//=== tab style ===//
.wrap-tabs{
    margin-bottom: 4rem;
    .tab-row{
        display: flex;
        .tab{
            width: 50%;
            height: 6rem;
            line-height: 6rem;
            background-color: transparent;
            font-size: 1.6rem;
            color: #868d96;
            &:first-child{
                border-radius: 10px 0 0 10px;
                border: solid 1px #dcdcdc;
                border-right: 0;
            }
            &:last-child{
                border-radius: 0 10px 10px 0;
                border: solid 1px #dcdcdc;
            }
            &.active{
                border: solid 1px #616dfa;
                background-color: rgba(97, 109, 250, 0.05);
                font-size: 1.6rem;
                font-weight: 600;
                color: #616dfa;
            }
        }
    }
}

//=== modal ===//
//common modal
.common-confirm{
    .box-confirm{
        width: 90%;
        margin: auto;
        padding: 3rem 0;
        text-align: center;
        .title{
            margin-top: 2rem;
            margin-bottom: 0 !important;
            font-size: 1.8rem !important;
            font-weight: 600;
            line-height: 1.5;
            color: #616dfa;
            word-break:keep-all;
        }
        .sub-title{
            margin: 1.5rem 0 !important;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.43;
            color: #707070;
            word-break:keep-all;
        }
        .box-notice{
            border-radius: 10px;
            background-color: rgba(97, 109, 250, 0.05);
            p{
                padding: 2%;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.43;
                color: #707070;
                word-break:keep-all;
            }
        }
    }
}

//add modal
.add-confirm{
    .box-confirm{
        width: 90%;
        margin: auto;
        padding: 3rem 0;
        text-align: center;
        .title{
            margin-top: 2rem;
            margin-bottom: 0 !important;
            font-size: 1.8rem !important;
            font-weight: 600;
            line-height: 1.5;
            color: #fa2558;
            word-break:keep-all;
        }
        .sub-title{
            margin: 1.5rem 0 !important;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.43;
            color: #707070;
            word-break:keep-all;
        }
        .box-notice{
            border-radius: 10px;
            background-color: rgba(97, 109, 250, 0.05);
            p{
                padding: 2%;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.43;
                color: #707070;
                word-break:keep-all;
            }
        }
    }
    .wrap-form-btn{
        button{
            background-color: #484848;
        }
    }
}

//common alert
.common-alert{
    .box-confirm{
        width: 90%;
        margin: auto;
        padding: 3rem 0;
        text-align: center;
        .title{
            margin-top: 2rem;
            margin-bottom: 0 !important;
            font-size: 1.8rem !important;
            font-weight: 600;
            line-height: 1.5;
            color: #fa2558;
            word-break:keep-all;
        }
        .sub-title{
            margin: 1.5rem 0 !important;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.43;
            color: #707070;
            word-break:keep-all;
        }
        .box-notice{
            border-radius: 10px;
            background-color: rgba(97, 109, 250, 0.05);
            p{
                padding: 2%;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.43;
                color: #707070;
                word-break:keep-all;
            }
        }
    }
    .wrap-form-btn{
        button{
            background-color: #484848;
        }
    }
}

//pagination
.pagination{
    padding-top: 6rem;
    .theme--light.v-pagination .v-pagination__item{
        background: #eff0ff;
        font-size: 1.5rem;
        color: #616dfa;
        box-shadow: none;
        &:hover{
            background-color: rgba(97, 109, 250, 0.25);
        }
    }
    .theme--light.v-pagination .v-pagination__item--active{
        background-color: #616dfa !important;
        color: #fff;
    }
    .theme--light.v-pagination .v-pagination__navigation{
        background: #eff0ff;
        font-size: 1.5rem;
        color: #616dfa;
        box-shadow: none;
    }
    .theme--light.v-icon{
        color: unset;
        font-weight: 500;
    }
    .v-pagination>li{
        padding: 0 2px;
    }
}


//Header
.header{
    width: 100%;
    .header-top{
        text-align: right;
        .quick-link{
            display: inline-block;
            padding: 2rem 0 4rem;
            a{
                position: relative;
                display: inline-block;
                padding: 0 1rem;
                font-size: 1.4rem;
                color: #232323;
                & + a:before{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 1rem;
                    background: #888;
                }
            }
        }
    }
    .header-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 4rem;
        .box-search{
            display: flex;
            justify-content: space-between;
            width: 50%;
            height: 5rem;
            border-radius: 100px;
            border: solid 3px #616dfa;
            background-color: #fff;
            box-sizing: border-box;
            input{
                width: 92%;
                padding: 0 1rem 0 3rem;
                box-sizing: border-box;
                font-size: 1.6rem;
                &::placeholder{
                    color: #232323;
                    opacity: 0.3;
                }
            }
            button{
                display: inline-block;
                width: 3rem;
                margin-right: 2rem;
                img{
                    width: 100%;
                }
            }
        }
    }
    .gnb{
        width: 100%;
        border-top: 1px solid #707070;
        border-bottom: 2px solid #000;
        .menu{
            display: flex;
            justify-content: space-around;
            width: 130rem;
            margin: auto;
            li{
                &:hover{
                    a{
                        color: #616dfa;
                        font-weight: 600;
                    }
                }
                &.active{
                    a{
                        color: #616dfa;
                        font-weight: 600;
                    }
                }
                a{
                    display: inline-block;
                    width: 100%;
                    padding: 1.5rem 0;
                    font-size: 1.6rem;
                    font-weight: 600;
                    letter-spacing: normal;
                    color: #232323;
                    text-align: center;
                }
                //.router-link-active, .router-link-exact-active{
                //    color: #616dfa;
                //    font-weight: 600;
                //}
            }
        }
    }
}

//FloatingIcon
.wrap-floating{
    position: fixed;
    z-index: 10;
    bottom: 5rem;
    right: 5rem;
    .floating{
        button,a{
            display: block;
            margin-bottom: 1.5rem;
        }
        a{
            img{
                width: 60px;
            }
        }
    }
}

//Visual
.visual{
    width: 100%;
    height: 25rem;
    background: url(/images/bg_visual.png) no-repeat 50% 50%;
    background-size: cover;
    .inner {
        display: flex;
        align-items: center;
        height: 100%;
        .box-text {
            .title {
                margin-bottom: 1.5rem;
                font-size: 2.8rem;
                font-weight: 600;
                color: #fff;
            }
            .desc {
                margin-bottom: 3.5rem;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.6;
                color: #fff;
                word-break: keep-all;
                span{
                    font-weight: 500;
                }
            }

            .btn-more {
                display: inline-block;
                width: 12rem;
                height: 4rem;
                line-height: 4rem;
                text-align: center;
                border-radius: 0.5rem;
                background-color: rgba(255, 255, 255, 0.9);
                font-size: 1.4rem;
                font-weight: 600;
                color: #000;
            }
        }
    }
}

#company{
    .visual{
        width: 100%;
        height: 25rem;
        background: url(/images/company/company-introduce-top-bg.png) no-repeat 50% 50%;
        background-size: cover;
        .inner {
            display: flex;
            align-items: center;
            height: 100%;
            .box-text {
                .title {
                    margin-bottom: 1.5rem;
                    font-size: 2.8rem;
                    font-weight: 600;
                    color: #fff;
                }

                .desc {
                    margin-bottom: 3.5rem;
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 1.6;
                    color: #fff;
                    word-break: keep-all;
                    span{
                        font-weight: 500;
                    }
                }

                .btn-more {
                    display: inline-block;
                    width: 12rem;
                    height: 4rem;
                    line-height: 4rem;
                    text-align: center;
                    border-radius: 0.5rem;
                    background-color: rgba(255, 255, 255, 0.9);
                    font-size: 1.4rem;
                    font-weight: 600;
                    color: #000;
                }
            }
        }
    }
}


//Footer
.footer{
    .family-site {
        position: relative;
        dl {
            width: 16rem;
            .select-title {
                border: 1px solid #707070;
                border-radius: 5px;
                background-color: #ffffff;
                button {
                    width: 100%;
                    padding: 1rem;
                    background: url(/images/icon_unfold.png) no-repeat 95% 50%;
                    background-size: 1rem;
                    font-size: 1.5rem;
                    text-align: left;
                    color: #000;
                }
            }

            .select-list {
                position: absolute;
                width: 100%;
                .list {
                    width: 100%;
                    border: 1px solid #707070;
                    border-top: 0;
                    li {
                        width: 100%;
                        background-color: #ffffff;
                        a {
                            display: block;
                            padding: 1rem;
                            font-size: 1.3rem;
                            text-align: left;
                            color: rgba(0,0,0,0.5);
                        }
                        &+li{
                            border-top: 1px solid rgba(0,0,0,0.5);
                        }
                    }
                }
            }
        }
    }
    .family-site.mobile{
        display: none;
    }
    .footer-top {
        padding: 1rem 0;
        border-top: solid 2px #707070;
        border-bottom: solid 1px #707070;
        .inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .menu {
                display: flex;
                a {
                    font-size: 1.4rem;
                    color: #232323;
                    padding: 0 1rem;
                    line-height: 1rem;
                    &:first-child{
                        padding-left: 0;
                    }
                    &+a{
                        border-left: 1px solid #232323;
                    }
                }
            }
        }
    }
    .footer-bottom{
        padding: 4.8rem 0;
        .inner {
            display: flex;
            .logo {
                margin-right: 5rem;
                img{
                    max-width: 18rem;
                }
            }

            .box-info {
                p {
                    margin-bottom: 0.7rem;
                    line-height: 1.5;
                    &:first-child {
                        margin-bottom: 1.2rem;
                        font-size: 1.4rem;
                        font-weight: 600;
                        color: #232323;
                    }

                    em {
                        font-size: 1.4rem;
                        font-weight: 600;
                        color: #232323;
                    }

                    span {
                        display: inline-block;
                        font-size: 1.4rem;
                        color: #707070;
                        &.line{
                            color: #707070;
                            padding: 0 .5rem;
                            font-size: 1.1rem;
                        }
                    }
                    &.copyright{
                        margin-top: 3rem;
                        font-size: 1.4rem;
                        color: #707070;
                    }
                }
            }
        }
    }
}


