//=== component ===
//NewsList
.wrap-news-list{
    .box-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3.5rem;
        .title{
            font-size: 2.2rem;
            font-weight: 600;
            color: #000;
        }
        .box-filter{
            font-size: 0;
            button{
                width: 12rem;
                height: 4rem;
                border: solid 1px #616dfa;
                background-color: #fff;
                font-size: 1.5rem;
                font-weight: 600;
                color: #616dfa;
                &:first-child{
                    border-radius: 5px 0 0 5px;
                }
                &:last-child{
                    border-radius: 0 5px 5px 0;
                    border-left: 0;
                }
                &.active{
                    background-color: #616dfa;
                    color: #fff;
                }
            }
        }
    }
    .box-news{
        .list{
            display: flex;
            //justify-content: space-between;
            flex-wrap: wrap;
            //grid-template-columns: 1fr 1fr 1fr 1fr;
            //gap: 4rem;
            .item{
                &:hover{
                    box-shadow: 10px 10px 30px 1px rgba(97, 109, 250, 0.2);
                    box-sizing: border-box;
                    outline: 2px solid #616dfa;
                    outline-offset: -3px;
                    .box-text {
                        .title {
                            color: #616dfa;
                        }
                    }
                }
                &:nth-of-type(4n){
                    margin-right: 0;
                }
                position: relative;
                width: 23%;
                margin-right: 2.6%;
                margin-bottom: 2.5%;
                border: 1px solid #dbdbdb;
                box-sizing: border-box;
                cursor: pointer;
                .thumbnail{
                    width: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .box-text{
                    padding: 1.5rem;
                    box-sizing: border-box;
                    .title{
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        font-size: 1.8rem;
                        font-weight: 600;
                        line-height: 1.39;
                        color: #000;
                    }
                    .desc{
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        word-wrap: break-word;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        height: 8rem;
                        margin: 1rem 0 2.5rem;
                        -webkit-line-clamp: 3;
                        font-size: 1.4rem;
                        line-height: 1.79;
                        color: rgba(0,0,0,0.6);
                    }
                    .date{
                        position: absolute;
                        bottom: 1.5rem;
                        right: 1.5rem;
                        font-size: 1.4rem;
                        color: rgba(0,0,0,0.4);
                    }
                }
            }
        }
    }

    //search result
    .search-result{
        margin-bottom: 6rem;
        border-bottom: 1px solid #dcdcdc;
        .result{
            padding-bottom: 1.5rem;
            font-size: 1.8rem;
            font-weight: 500;
            color: #232323;
            span{
                font-weight: 900;
                &:last-of-type{
                    color: #616dfa;
                }
            }
        }
    }
    .no-result{
        text-align: center;
        img{
            margin-bottom: 6rem;
        }
        .title{
            font-size: 2.5rem;
            font-weight: 900;
            line-height: 1.48;
            color: #232323;
            span{
                color: #616dfa;
            }
        }
        .desc{
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #707070;
        }
    }
}

//NewsListDetail
.wrap-news-detail{
    .container{
        max-width: 73rem;
        .title{
            margin-bottom: 2rem;
            font-size: 3.5rem;
            font-weight: 900;
            line-height: 1.49;
            text-align: center;
            color: #000;
            word-break: keep-all;
        }
        .date{
            margin-bottom: 3rem;
            font-size: 1.6rem;
            font-weight: 500;
            text-align: center;
            color: #707070;
        }
        .writer{
            font-size: 1.4rem;
            font-weight: 500;
            text-align: center;
            color: #707070;
            span{
                color: #bcbcbc;
            }
        }
        .box-download{
            display: flex;
            justify-content: space-between;
            padding: 8rem 0 4rem;
            li{
                display:flex;
                position: relative;
                align-items: center;
                width: 49%;
                height: 6rem;
                padding: 0 1.5rem;
                line-height: 6rem;
                border: 1px solid #bcbcbc;
                border-radius: 10px;
                box-sizing: border-box;
                span{
                    display: inline-block;
                    margin-left: 1rem;
                    font-size: 1.6rem;
                    font-weight: 600;
                    color: #484848;
                }
                button{
                    position: absolute;
                    right: 1.5rem;
                    width: 3.1rem;
                    height: 3.1rem;
                    background: url(/images/icon_download.png) no-repeat 0 50%;
                    background-size: 100%;
                    text-indent: -9999px;
                }
                &.excel {
                    em {
                        display: inline-block;
                        width: 3.1rem;
                        height: 3.1rem;
                        background: url(/images/icon_excel.png) no-repeat 0 50%;
                        background-size: 100%;
                    }
                    //다운받을 파일이 없을 때
                    &.disable{
                        em {
                            background: url(/images/icon_excel_disabled.png) no-repeat 0 50%;
                        }
                    }
                }
                &.pdf {
                    em {
                        display: inline-block;
                        width: 3.1rem;
                        height: 3.1rem;
                        background: url(/images/icon_pdf.png) no-repeat 0 50%;
                        background-size: 100%;
                    }
                    //다운받을 파일이 없을 때
                    &.disable{
                        em {
                            background: url(/images/icon_pdf_disabled.png) no-repeat 0 50%;
                        }
                    }
                }
                //다운받을 파일이 없을 때
                &.disable{
                    border: solid 1px rgba(188, 188, 188,0.3);
                    span{
                        color: rgba(72, 72, 72,0.3);
                    }
                    button{
                        background: url(/images/icon_download_disabled.png) no-repeat 0 50%;
                    }
                }
            }
        }
        .box-thumbnail{
            margin-bottom: 4rem;
            width: 100%;
            img{
                width: 100%;
            }
        }
        .box-content{
            .text{
                font-size: 1.6rem;
                line-height: 1.88;
                color: #000000;
                p{
                    img{
                        width: 100%;
                    }
                }
            }
            .box-info{
                width: 100%;
                padding: 2rem 0;
                margin: 4rem 0;
                border: 1px solid #bcbcbc;
                border-radius: 10px;
                .info{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 70%;
                    margin: auto;
                    dl{
                        display: flex;
                        dt{
                            font-size: 1.4rem;
                            font-weight: 500;
                            color: #bcbcbc;
                        }
                        dd{
                            margin-left: 0.5rem;
                            color: #707070;
                            font-size: 1.4rem;
                            font-weight: 500;
                        }
                    }
                    .line{
                        display: inline-block;
                        width: 0.2rem;
                        height: 1.5rem;
                        background-color: #bcbcbc;
                        opacity: 0.5;
                    }
                }
            }
            .box-text{
                padding-top: 4rem;
                border-top: solid 1px #d1d1d1;
                .title{
                    margin-bottom: 1rem;
                    font-size: 1.4rem;
                    font-weight: 600;
                    text-align: left;
                    color: rgba(0,0,0,0.8);
                }
                p{
                    font-size: 1.4rem;
                    font-weight: 500;
                    line-height: 2.14;
                    text-align: left;
                    color: #707070;
                    &+.title{
                        margin-top: 3rem;
                    }
                }
            }
        }
        .wrap-btn{
            padding-top: 8rem;
            text-align: center;
            .btn-back{
                display: inline-block;
                width: 20rem;
                height: 6rem;
                line-height: 6rem;
                border-radius: 10px;
                border: solid 1px #dbdbdb;
                background-color: rgba(219, 219, 219, 0.15);
                font-size: 1.8rem;
                font-weight: 600;
                text-align: center;
                color: #484848;
                transition: 0.3s;
                &:hover{
                    background-color: #dbdbdb;
                }
            }
        }
    }
}


//=== views ===
//SignInView
.wrap-sign-in{
    .container {
        width: 73rem;
        text-align: center;
        .sign-in-top {
            padding-bottom: 4.8rem;
            margin-bottom: 4.8rem;
            border-bottom: 1px solid #dbdbdb;
            .title {
                font-size: 2.5rem;
                font-weight: 900;
                color: #616dfa;
            }
            .sub-title {
                margin: 1.5rem 0 4rem;
                font-size: 1.6rem;
                line-height: 1.5;
                font-weight: 500;
                color: #707070;
                word-break: keep-all;
            }
            .wrap-input-default {
                width: 47rem;
                margin: auto;
                .box-input {
                    .input {
                        width: 100%;
                    }
                }

                & + .wrap-input-default {
                    padding-top: 3.5rem;
                }

                .input-msg {
                    position: absolute;
                    bottom: -2.5rem;
                    padding-bottom: 0;
                }
            }
            .btn-sign-in {
                text-align: center;
                padding: 4rem 0 2rem;
                button {
                    width: 47rem;
                    height: 6rem;
                    border-radius: 10px;
                    background-color: #bcbcbc;
                    font-size: 1.6rem;
                    font-weight: 600;
                    color: #fff;
                    transition: 0.3s;
                    &:hover{
                        background-color: #616dfa;
                    }
                    &.active{
                        background-color: #616dfa;
                    }
                }
            }
            .box-quick-link {
                a {
                    display: inline-block;
                    padding: 0 1rem;
                    font-size: 1.4rem;
                    color: #707070;
                    line-height: 1rem;
                    & + a{
                        border-left: 1px solid #707070;
                        color: #707070;
                    }
                }
            }
        }

        .sign-in-bottom{
            margin-bottom: 6rem;
            .title{
                margin-bottom: 3rem;
                font-size: 1.8rem;
                font-weight: 600;
                color: #000;
            }
            .box-sns{
                margin-bottom: 5rem;
                button{
                    width: 7rem;
                    & + button{
                        margin-left: 3rem;
                    }
                }
            }
            .box-google-play{
                padding: 4rem 2rem 3.5rem;
                border-radius: 10px;
                background-color: #f1f1f1;
                box-sizing: border-box;
                .logo{
                    margin-bottom: 1.5rem;
                    img{
                        width: 13rem;
                    }
                }
                .txt{
                    margin-bottom: 2rem;
                    font-size: 1.6rem;
                    color: #707070;
                }
                .link-google-play{
                    img{}
                }
            }
        }
    }
}

//SignUpView
.wrap-sign-up {
    .container {
        width: 73rem;
        text-align: center;
        .sign-up-top {
            padding-bottom: 4.8rem;
            margin-bottom: 4.8rem;
            border-bottom: 1px solid #dbdbdb;

            .title {
                font-size: 2.5rem;
                font-weight: 900;
                color: #616dfa;
            }

            .sub-title {
                margin: 1.5rem 0 4rem;
                font-size: 1.6rem;
                line-height: 1.5;
                font-weight: 500;
                color: #707070;
                word-break: keep-all;
            }
            .sign-up-type{
                display: flex;
                .type {
                    position: relative;
                    width: 48%;
                    padding: 2.5rem 3rem;
                    border-radius: 10px;
                    border: solid 1px #707070;
                    background-color: #ffffff;
                    box-sizing: border-box;
                    cursor: pointer;

                    & > a {
                        display: block;
                        .name {
                            margin-bottom: 9.5rem;
                            font-size: 2.2rem;
                            font-weight: 900;
                            line-height: 1.5;
                            text-align: left;
                            color: #000;
                        }

                        .btn-link {
                            display: block;
                            height: 3.5rem;
                            line-height: 3.5rem;
                            padding-left: 3.5rem;
                            margin-left: -1rem;
                            background: url(/images/icon_right_arrow.png) no-repeat 0 50%;
                            background-size: 3.5rem;
                            text-align: left;
                            font-size: 1.6rem;
                            color: #000;
                        }

                        & > img {
                            position: absolute;
                            bottom: 2rem;
                            right: 0;
                        }
                    }
                    &:hover {
                        border: solid 3px #616dfa;
                        box-sizing: border-box;

                        .name {
                            color: #616dfa;
                        }

                        .btn-link {
                            background: url(/images/icon_right_arrow_active.png) no-repeat 0 50%;
                            background-size: 3.5rem;
                        }
                    }
                    & + .type {
                        margin-left: 4%;
                    }
                }
            }
        }
        .sign-up-bottom{
            .title{
                margin-bottom: 3rem;
                font-size: 1.8rem;
                font-weight: 600;
                color: #000;
            }
            .box-sns{
                .sns{
                    width: 100%;
                    height: 7rem;
                    line-height: 7rem;
                    border-radius: 100px;
                    a{
                        font-size: 1.6rem;
                        font-weight: 600;
                        line-height: 1.5;
                        color: #000;
                        vertical-align: unset;
                    }
                    & + .sns{
                        margin-top: 3rem;
                    }
                    &.kakao{
                        background-color: #ffe734;
                    }
                    &.naver{
                        background-color: #30c322;
                        a{
                            color: #fff;
                        }
                    }
                    &.google{
                        border: solid 1px #707070;
                        background-color: #ffffff;
                        box-sizing: border-box;
                    }
                }
            }
            .box-notice{
                margin-top: 5rem;
                padding: 3.2rem 4.5rem;
                border-radius: 10px;
                background-color: #f1f1f1;
                text-align: left;
                .notice-title{
                    margin-bottom: 3rem;
                    font-size: 1.8rem;
                    font-weight: 600;
                    word-break: keep-all;
                    line-height: 1.5;
                    color: #000;
                }
                .box-txt{
                    p{
                        font-size: 1.6rem;
                        word-break: keep-all;
                        line-height: 2.19;
                        color: rgba(0,0,0,0.6);
                        span{
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        //common form style
        .wrap-form{
            text-align: left;
            .title{
                margin-bottom: 6.8rem;
                font-size: 2.5rem;
                font-weight: 900;
                text-align: center;
                color: #616dfa;
            }
            .form{
                padding: 4rem;
                border-radius: 10px;
                border: solid 1px #dbdbdb;
                box-sizing: border-box;
            }
        }
    }
}

//SignUpIndividual, SignUpMedia
.wrap-sign-up.common{
    .box-text{
        margin-top: 1rem;
        margin-bottom: 3rem;
        p{
            font-size: 1.6rem;
            line-height: 2.19;
            color: (0,0,0,0.6);
            span{
                font-weight: 600;
            }
        }
    }
}

//SignUp modal
.wrap-sign-up.modal{
    .title{
        padding-bottom: 1rem;
        font-size: 1.8rem;
        font-weight: 900;
        text-align: center !important;
        color: #616dfa;
    }
    .sub-title{
        margin-bottom: 4rem;
        font-size: 1.4rem;
        line-height: 1.43;
        text-align: center;
        color: #707070;
        word-break: keep-all;
    }
    .wrap-form {
        width: 90%;
        margin: auto;
        padding: 4rem 0;
        .wrap-input-default{
            width: 100%;
        }
    }
}

//Question
.wrap-sign-up.question{
    .wrap-input-default {
        .box-input {
            .input {
                select {
                    background-position: 96% 50%;
                }
            }
        }
    }
    .box-text{
        padding: 2rem 0 4rem;
        p{
            font-size: 1.6rem !important;
            font-weight: 500;
            color: rgba(0,0,0,0.6);
        }
    }
}


//MyPageEdit
.wrap-sign-up.my-page{
    .name {
        margin-bottom: 4rem;
        padding-left: 0.5rem;
        font-size: 2.2rem;
        font-weight: 900;
        color: #000000;
        span {
            font-size: 1.4rem;
            color: #707070;
        }
    }
}

//InformationEdit
.information-edit{
    .edit-title{
        font-size: 2.5rem;
        font-weight: 900;
        line-height: 1.48;
        color: #616dfa;
        text-align: left !important;
    }
    .edit-sub-title{
        font-size: 1.6rem;
        line-height: 1.5;
        color: #707070;
    }
    .wrap-input-default{
        padding-top: 3.5rem;
    }
}


//HomeView
.wrap-home{
    .visual {
        height: 25rem;
        .box-text {
            .desc {
                word-break: keep-all;
            }
        }
        &.visual1{
            height: 25rem;
            display: none;
            background: url(/images/bg_visual1.png) no-repeat 50% 50%;
            background-size: cover;
        }
        &.visual2{
            height: 25rem;
            display: none;
            background: url(/images/bg_visual2.png) no-repeat 50% 50%;
            background-size: cover;
        }
        &.visual3{
            height: 25rem;
            display: none;
            background: url(/images/bg_visual3.png) no-repeat 50% 50%;
            background-size: cover;
        }
        &.visual4{
            height: 25rem;
            display: none;
            background: url(/images/bg_visual4.png) no-repeat 50% 50%;
            background-size: cover;
        }
    }
}

//IntroduceView
.wrap-introduce{
    .container{
        width: 130rem;
    }
    .visual {
        .desc {
            width: 64rem;
            word-break: keep-all;
        }
    }
    .box-introduce{
        hr{
            color: #d1d1d1;
            margin: 4.5rem 0;
        }
        .box-txt{
            .introduce{
                .title{
                    margin-bottom: 1rem;
                    font-size: 2.2rem;
                    font-weight: 600;
                    line-height: 1.5;
                    color: #000;
                }
                .desc{
                    font-size: 1.7rem;
                    line-height: 2.19;
                    color: rgba(0,0,0,0.6);
                }
            }
        }
        .box-notice{
            width: 100%;
            margin-top: 4.8rem;
            padding: 4rem;
            border-radius: 10px;
            background-color: #f1f1f1;
            text-align: center;
            box-sizing: border-box;
            p{
                margin-top: 2rem;
                font-size: 1.8rem;
                line-height: 1.7;
                color: rgba(0,0,0,0.6);
            }
        }
    }
    .wrap-btn{
        padding-top: 10rem;
        text-align: center;
        a{
            display: inline-block;
            width: 20rem;
            height: 6rem;
            line-height: 6rem;
            border-radius: 10px;
            background-color: #484848;
            font-size: 1.8rem;
            text-align: center;
            color: #fff;
        }
    }
}

//guide line
.wrap-guide{
    .container{
        max-width: 73rem;
        .title{
            margin-bottom: 2rem;
            font-size: 3rem;
            font-weight: 900;
            line-height: 1.49;
            text-align: center;
            color: #000;
            word-break: keep-all;
        }
        .date{
            margin-bottom: 8rem;
            font-size: 1.6rem;
            font-weight: 500;
            text-align: center;
            color: #707070;
        }
        .box-text{
            &>p{
                font-size: 1.6rem;
                font-weight: normal;
                line-height: 2.5;
                color: #000;
                word-break: keep-all;
            }
            .text{
                padding-left: 3rem;
                p{
                    font-size: 1.6rem;
                    font-weight: 600;
                    line-height: 2.5;
                    color: #000;
                }
            }
        }
        .wrap-btn{
            padding-top: 8rem;
            text-align: center;
            .btn-back{
                display: inline-block;
                width: 20rem;
                height: 6rem;
                line-height: 6rem;
                border-radius: 10px;
                border: solid 1px #dbdbdb;
                background-color: rgba(219, 219, 219, 0.15);
                font-size: 1.8rem;
                font-weight: 600;
                text-align: center;
                color: #484848;
                transition: 0.3s;
                &:hover{
                    background-color: #dbdbdb;
                }
            }
        }
    }
}

//term page
.wrap-term{
    &.page{
        max-width: 73rem;
        margin: 8rem auto;
        .term-title{
            width: 100%;
            padding-bottom: 3rem;
            font-size: 2.2rem;
            font-weight: 900;
            text-align: center !important;
            color: #616dfa;
        }
        .term-content{
            width: 95%;
            margin: auto;
            border-radius: 10px;
            text-align: left;
        }
        .v-dialog>.v-card>.v-card__text{
            padding: 1.5rem 2rem !important;
        }
        table{
            margin: 2rem 0;
        }
        table th,table td{
            font-size: 13px !important;
        }
        h3{
            margin: 1.5rem 0 1rem;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.4;
        }
        h4{
            margin-top: 1.5rem;
            font-size: 1.5rem;
            line-height: 1.5;
            text-indent: 1rem;
        }
        p{
            font-size: 1.5rem;
            line-height: 1.5;
        }
        .text-right{
            font-size: 1.3rem;
            text-align: right;
        }
        .copyright{
            margin-top: 1.5rem;
            font-size: 1.3rem;
            text-align: right;
        }
    }
}

