@media screen and (max-width: 1600px) {
    //.header{
    //    .inner{
    //        width: 118.5rem;
    //    }
    //}
}
@media screen and (max-width: 1300px){
    body {
        min-width: unset;
    }
    .inner{
        width: 90% !important;
        margin: auto;
    }
    .container{
        width: 90% !important;
        max-width: unset;
        margin: auto;
        padding: 6rem 0;
    }
    .header{
        .gnb{
            .menu{
                width: 90%;
            }
        }
    }
}
@media screen and (max-width: 992px) {
    //Header
    .header {
        .gnb {
            .menu {
                width: 100%;
                li{
                }
            }
        }
        .header-top{
            .quick-link{
                a{
                    font-size: 1.6rem;
                    color: #232323;
                }
            }
        }
        .header-bottom{
            display: unset;
            .logo{
                text-align: center;
                img{
                    width: 20rem;
                }
            }
            .box-search{
                width: 100%;
                margin: 3rem 0;
                input{
                    width: 90%;
                    padding: 0 2rem;
                }
            }
        }
    }

    //Visual
    .visual{
        .inner{
            width: 90% !important;
            align-items: self-start !important;
            padding-top: 10rem;
        }
    }

    //Footer
    .footer{
        .family-site{
            display: none;
        }
        .family-site.mobile{
            display: inline-block;
        }
        .footer-top{
            padding: 2.5rem 0;
            .inner{
                .menu{
                    a{
                        font-size: 1.6rem;
                    }
                }
            }
        }
        .footer-bottom{
            .inner{
                display: block;
                .logo{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    margin-right: 0;
                    img{
                        width: 17rem;
                        height: 2.6rem;
                    }
                }
                .box-info {
                    p{
                        margin: 1rem 0;
                        line-height: 1.7;
                        &.copyright{
                            margin-top: 0;
                        }
                        span:last-of-type{
                            display: block;
                            line-height: unset;
                            &.email{
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }

    //SignInView
    .wrap-sign-in{
        .container {
            width: 90%;
            .sign-in-top{
                .wrap-input-default{
                    width: 100%;
                }
                .btn-sign-in{
                    button {
                        width: 100%;
                    }
                }
            }
            .sign-in-bottom{
                .box-google-play{
                    .txt{
                        word-break: keep-all;
                        line-height: 1.5;
                    }
                }
            }
        }
    }

    //SignUpView
    .wrap-sign-up{
        .container {
            width: 90%;
            .sign-up-top{
                .sign-up-type{
                    display: unset;
                    .type{
                        width: 100%;
                        box-sizing: border-box;
                        & + .type{
                            margin-left: 0;
                            margin-top: 2rem;
                        }
                    }
                }
            }
            .sign-up-bottom{
                .box-sns {
                    .sns {
                        & + .sns {
                            margin-top: 2rem;
                        }
                    }
                }
                .box-notice{
                    padding: 3rem;
                }
            }
        }
    }

    //HomeView
    .wrap-home{
        .visual{
            height: 25rem;
            background: url(/images/bg_visual_m.png) no-repeat 50% 50%;
            background-size: cover;
            .inner{
                padding-top: 4rem;
            }
            .box-text {
                .desc {
                    word-break: keep-all;
                }
            }
            &.visual1{
                height: 35rem;
            }
            &.visual2{
                height: 35rem;
            }
            &.visual3{
                height: 35rem;
            }
            &.visual4{
                height: 35rem;
            }
        }
    }

    //IntroduceView
    .wrap-introduce{
        .visual{
            background: url(/images/bg_visual_intro_m.png) no-repeat 50% 50%;
            background-size: cover;
            .inner{
                overflow: hidden;
            }
            .desc{
                margin-bottom: 0 !important;
                line-height: 1.6 !important;
            }
        }
        .container{
            width: 90%;
        }
        .box-introduce{
            .box-txt{
                .introduce{
                    width: 100% !important;
                    .title{
                        br{
                            display: none;
                        }
                    }
                }
            }
        }
        .wrap-btn{
            padding-top: 6rem;
        }
    }

    //NewsList
    .wrap-news-list{
        .box-news{
            .list{
                .item {
                    width: 48%;
                    margin-bottom: 4%;
                    margin-right: 4%;
                    &:nth-of-type(2n){
                        margin-right: 0;
                    }
                }
            }
        }
    }

    //NewsListDetail
    .wrap-news-detail {
        .container {
            max-width: unset;
            width: 90%;
            margin: auto;
        }
    }

    //Floating
    .wrap-floating{
        right: 2rem;
        .floating{
            button,a{
                width: 6rem;
                height: 6rem;
                img{
                    width: 100%;
                }
            }
        }
    }

    //company
    #company{
        .visual{
            overflow: hidden;
        }
        .box-introduce{
            .company__img{
                width: 100%;
                padding: 30px 0 0 0;
                img{
                    max-width: 100%;
                    margin: 0 auto;

                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    html,body{
        font-size: 58%;
    }
    .wrap-home {
        .visual {
            display: none;
        }
    }
    //common input
    .wrap-input-default{
        &.input-half{
            flex-direction: column;
            .box-input{
                width: 100%;
                margin-left: 0!important;
                &+.box-input{
                    padding-top: 1.5rem;
                }
            }
        }
        .input{
            &.email{
                display: none;
            }
        }
    }

    //checkbox
    .checkbox-default .checkbox input[type="checkbox"] + label span{
        font-size: 1.4rem;
    }
    .checkbox-default.agree .checkbox .btn-view{
        font-size: 1.4rem;
    }

    //NewsList
    .wrap-news-list{
        .box-news{
            .list{
                .item{
                    width: 100%;
                    margin-right: 0;
                }
            }
        }
        .no-result{
            padding: 3rem 0;
            img{
                max-width: 25rem;
                margin-bottom: 6rem;
            }
            .title{
                font-size: 2.2rem;
                font-weight: 900;
                line-height: 1.48;
                color: #232323;
                word-break: keep-all;
                span{
                    color: #616dfa;
                }
            }
            .desc{
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 1.5;
                color: #707070;
                word-break: keep-all;
            }
        }
    }

    //GuideLine
    .wrap-guide{
        .container {
            .box-text{
                .text{
                    &+p{
                        br{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    //News detail
    .wrap-news-detail {
        .container {
            .box-download {
                li{
                    &.pdf{
                        &.disable{
                            em{
                                background-size: cover;
                            }
                        }
                    }
                    &.excel{
                        &.disable{
                            em{
                                background-size: cover;
                            }
                        }
                    }
                }
            }
        }
    }
    .wrap-introduce {
        .box-introduce {
            .box-txt {
                .introduce {
                    .desc{
                        br{
                            display: none;
                        }

                    }
                }
            }
        }
    }
}
@media screen and (max-width: 480px) {
    html,body{
        font-size: 55%;
    }

    //visual
    .visual{
        .desc{
            br{
                display: none !important;
            }
            .br{
                display: block;
            }
        }
    }

    //Introduce
    .wrap-introduce{
        .visual{
            .desc{
                width: 100%;
                margin-bottom: 0 !important;
                line-height: 1.6 !important;
                &+.desc{
                    margin-top: 3rem;
                }
            }
        }
    }

    //Footer
    .footer {
        .footer-top {
            .inner {
                width: 100%;
                .menu {
                    margin: auto;
                    a {
                        font-size: 1.3rem;
                    }
                }

                .family-site.mobile {
                    display: inline-block;
                }
            }
        }
        .footer-bottom{
            .box-info {
                .line {
                    display: none !important;
                }
            }
        }
    }

    //NewsList
    .wrap-news-list{
        .box-news{
            .list{
                grid-template-columns: 1fr;
            }
        }
    }

    //NewsListDetail
    .wrap-news-detail {
        .container {
            .title{
                font-size: 3rem;
            }
            .box-download {
                li {
                    & > img {
                        display: none;
                    }
                }
            }
        }
    }

    //GuideLine
    .wrap-guide{
        .container {
            .title {
                font-size: 3rem;
            }
            .date{
                margin-bottom: 5rem;
            }
            .box-text{
                .text{
                    padding-left: 0;
                    margin-bottom: 3rem;
                }
            }
        }
    }

    //SignUpView
    .wrap-sign-up{
        &.common{
            .box-text{
                margin: 3rem 0 4rem;
            }
        }
        .container{
            .wrap-form{
                .title{
                    margin-bottom: 5rem;
                }
                .form{
                    padding: 3rem 2rem;
                }
            }
        }
    }
}
@media screen and (max-width: 420px) {
    //Visual
    .visual{
        .inner{
            padding-top: 8rem !important;
        }
    }
    //News-detail
    .wrap-news-detail {
         .container {
             .box-download {
                 li {
                     span{
                         font-size: 1.4rem;
                     }
                 }
             }
             .box-info {
                 .info {
                     width: 95% !important;
                     dl{
                         dd{
                             font-size: 1rem;
                         }
                     }
                 }
             }
         }
     }
    //Header
    .header {
        .header-top{
            position: absolute;
            right: 1rem;
            .quick-link{
                a{
                    font-size: 1.4rem;

                }
            }
        }
        .header-bottom{
            .logo{
                padding-top: 7rem;
            }
        }
    }
}
@media screen and (max-width: 390px) {
    //header
    .header {
        .header-top{
            position: absolute;
            .quick-link{
                a{
                    font-size: 1rem;
                }
            }
        }
        .header-bottom{
            .logo{
                padding-top: 7rem;
            }
        }
    }
    //Footer
    .footer {
        .footer-top {
            .inner {
                .menu {
                    a{
                        font-size: 1rem;
                    }
                }
            }
        }

    }

}

@media screen and (max-width: 320px){
    .footer{
        .footer-bottom{
            .inner{
                .logo{
                    display: inherit;
                    img{
                        margin: 0 0 20px;
                    }
                }
            }
        }

    }
}
