/* font */
@font-face {
    font-family: 'NotoSansKR';
    src: url('../fonts/NotoSansKR-Black.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url('../fonts/NotoSansKR-Bold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url('../fonts/NotoSansKR-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url('../fonts/NotoSansKR-Light.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

html,body{
    font-size: 62.5%;
    color: #292929;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: middle;
  font-weight: normal;
  font-family: 'NotoSansKR';
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}
button {
  cursor: pointer;
  outline: none;
}
button,
input[type="text"] {
  background: none;
  border: 0;
}
input[type="number"] {
  background: none;
  border: 0;
  outline: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    //-webkit-appearance: none;
    margin: 0;
  }

input[type="text"] {
  outline: none;
}
input[type="password"] {
  outline: none;
  border: none;
  font-family: 'NotoSansKR';
}
input[type="password"]::placeholder{
  font-family: 'NotoSansKR';
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
a {
  color: #292929;
  text-decoration: none;
}

img {
    image-rendering: -o-crisp-edges; /* Opera */
    /* image-rendering: crisp-edges; */
}

.cf{
    content: '';
    display: block;
    clear: both;
}

a:hover {
    color: #292929;
}

span {
    display: contents;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    //-webkit-appearance: none;
    //-moz-appearance: none;
    //appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

button{
    outline: 0;
    border: 0;
}

textarea:focus {
    outline: none;
}

button:focus {
    outline: none !important;
}

input:focus {
    outline: none;
}

em{
    font-style: unset;
}
a{
    cursor: pointer;
}
a:hover{
    text-decoration: unset;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
    border-radius: 100px;
}
